* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 100%;
    text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
  
  body {
    min-height: 100vh;
    position: relative;
    background: url("image/pexels-martinpechy-1866149.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    font-family: "Ubuntu", cursive;
    
        color: #7f8db0;
  }
  
  span,
  i,
  li,
  button,
  a {
    text-decoration: none;
    outline: none;
  }
  
  a,
  button,
  input,
  textarea,
  select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .container {
    width: 100%;
    min-height: 90vh;
    padding-top: 80px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
    display: -webkit-box;
  
    display: -webkit-flex;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  
  /* Estilos del border-box*/
  #background {
  
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
    background: #008eaa;
    -webkit-clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
  }
  
  /* Estilos del navbar*/
  .nav {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .nav-container-content {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
  
    display: -webkit-box;
  
    display: -webkit-flex;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .navbar a {
    font-family: "DM Sans", cursive;
    font-size: 15px;
    font-weight: 500;
    margin-left: 6px;
    letter-spacing: 0.12px;
    line-height: 15px;
    color: black;
    text-decoration: none;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    padding: 9px 13px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  
  .navbar a:hover {
    background: khaki;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #000;
  }
  
  .navbar a:last-child {
    padding: 9px 17px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-family: "DM Sans", sans-serif;
    line-height: 15px;
    margin-left: 8px;
  }
  
  .navbar a:last-child:hover {
    color: #f4f4f4;
    opacity: 0.9;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  }
  
  @media screen and (max-width: 480px) {
    .nav-container-content {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .navbar a {
      font-size: 12px;
      margin-left: 0;
    }
  
    .navbar a:last-child {
      margin-left: 0;
    }
  }
  
  /* Estilos del navbar*/
  .section-container-items {
    width: 100%;
    height: auto;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  
  @media screen and (max-width: 480px) {
    .section-container-items {
      -webkit-transform: translateY(23px);
      -ms-transform: translateY(23px);
      transform: translateY(23px);
    }
  }
  
  @media screen and (max-width: 320px) {
    .section-container-items {
      -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px);
    }
  }
  
  .section-items-col-12 {
    width: 90%;
    height: 100%;
    max-width: 980px;
    margin: auto;
  
    display: -webkit-box;
  
    display: -webkit-flex;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: wrap-reverse;
    -ms-flex-flow: wrap-reverse;
    flex-flow: wrap-reverse;
  }
  
  .section {
    width: 100%;
    max-width: 490px;
    height: auto;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(6px);
  }
  
  .section a {
    display: inline-block;
  }
  
  .section h1 {
    font-size: 60px;
    font-family: "Poppins", cursive;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    letter-spacing: 0.12px;
    line-height: 74px;
    margin: 0;
    padding: 0;
  }
  
  .section h3 {
    font-size: 20px;
    font-family: "DM Sans", Sans-Serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 2px;
    color: black;
    opacity: 0.7;
  }
  
  .section button {
    margin-top: 40px;
    display: block;
    padding: 15px 24px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: normal;
    letter-spacing: 0.18px;
    line-height: 17px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    border: none;
    cursor: pointer;
    color: black;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  
  .section button:hover {
    opacity: 0.9;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  }
  
  .section button i {
    font-size: 14px;
    margin-right: 8px;
  }
  
  .section button span {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-left: 3px;
  }
  
  @media screen and (max-width: 1124px) {
    .section {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section {
      width: 320px;
      max-width: 100%;
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
      text-align: center;
    }
  
    .section h1 {
      font-size: 47px;
      line-height: 59px;
    }
  
    .section h3 {
      font-size: 22px;
      letter-spacing: -0.08px;
      line-height: 27px;
      margin-top: 3px;
    }
  
    .section button {
      padding: 15px 18px;
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .section {
      width: 260px;
    }
  
    .section h1 {
      font-size: 38px;
      line-height: 48px;
    }
  
    .section h3 {
      font-size: 18px;
      line-height: 24px;
    }
  
    .section button {
      font-size: 14px;
    }
  }
  
  .look {
    color: #05cc47;
    font-size: 3.7em;
    white-space: nowrap;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Ubuntu", Sans-Serif;
  }
  
  .highlight {
    color: #005387;
    font-size: 0.7em;
    background: red;
  }
  
  .alta {
    width: 100%;
    max-width: 490px;
    height: auto;
    overflow: hidden;
  
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .alta-title {
    font-size: 22px;
    font-family: "Dm Sans", Sans-Serif;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 1;
    z-index: 1;
  
    position: absolute;
    right: 0;
    -webkit-transform: rotate(90deg) translateY(-60px);
    -ms-transform: rotate(90deg) translateY(-60px);
    transform: rotate(90deg) translateY(-60px);
  }
  
  .alta img {
    width: 520px;
    height: auto;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  @media screen and (max-width: 1124px) {
    .alta {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .alta {
      max-width: 100%;
    }
  
    .alta-title {
      font-size: 16px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(90deg) translateY(-66px);
      -ms-transform: rotate(90deg) translateY(-66px);
      transform: rotate(90deg) translateY(-66px);
    }
  
    .alta img {
      width: 410px;
      -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      transform: translateX(-15px);
    }
  }
  
  @media screen and (max-width: 320px) {
    .alta-title {
      font-size: 14px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(90deg) translateY(-48px);
      -ms-transform: rotate(90deg) translateY(-48px);
      transform: rotate(90deg) translateY(-48px);
    }
  
    .alta img {
      width: 320px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer-col-12 p {
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      margin-top: 5px;
    }
  }
  
  ::-moz-selection {
    background: yellow;
    color: #000;
  }
  
  ::selection {
    background: yellow;
    color: #000;
  }
  
  @media screen and (max-width: 980px) {
    .section {
      max-width: 500px;
      text-align: center;
    }
  
    .alta {
      max-width: 500px;
    }
  }
  
  @media screen and (max-width: 320px) {
    #and_menor .nav-container-content {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    #and_menor .nav-container-content .navbar a {
      font-size: 11px;
      padding: 8px 10px;
    }
  }
  

.wrapper {
	width: 100%;
	height: 100%;
}
.box {
	display: flex;
	width: 950px;
	margin: 140px auto;
}
.single-box {
	width: 300px;
	background: #fff;
	margin-right: 20px;
	padding: 25px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}
.single-box:last-child {
	margin-right: 0;
}
.single-box .img img {
	width: 200px;
	margin-bottom: 10px;
}
.single-box .price {
	font-weight: 600;
	font-size: 45px;
}
.img {
	position: absolute;
	top: -25%;
	left: 20%;
}
.single-box h3 {
	margin-top: 25%;
	margin-bottom: 15px;
}
.single-box p {
	line-height: 1.9;
}
.single-box a {
	background: #f57e20;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px 20px;
	display: inline-block;
	margin-top: 30px;
}
@media(max-width:991px) {
	.box {
		width: 100%;
	}
}
@media (max-width:767px) {
	.box {
		width: 100%;
		flex-direction: column;
	}
	.single-box {
		margin-right: 0;
		width: 100%;
		margin-bottom: 110px;
	}
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.product-card {
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  -moz-box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  box-shadow:  0px 0px 47px -20px rgba(0,0,0,1);
  margin: 60px 0px 60px 0px;
  background-color: #fff;
}

.product-image {
  height: 300px;
  overflow: hidden;
  position: relative;
  top:-90px;
  padding: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 10px;
}

.product-image:hover img {
  transform: scale(1.1);
}

.product-details {
  padding: 20px;
  margin-top:-90px;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #666;
}

.product-details.expand {
  height: auto;
}

.product-details .expand-button {
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

.product-details .expand-button:hover {
  color: #000;
  text-decoration: underline;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart,
.compare {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart {
  background-color: #1f4959;
}

.compare {
  background-color: #5c7c89;
  color:#fff;
}

.add-to-cart:hover,
.compare:hover {
  opacity: 0.8;
}

.credit a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.credit {
    color: #000;
  text-align: center;
  margin-top: 10px;
  font-family: Verdana,Geneva,Tahoma,sans-serif;
}
.cart-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#cart-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #1f4959;
}

#cart-table th, #cart-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #1f4959;
}

#cart-table th {
  background-color: #1f4959;
}

#cart-table td {
  vertical-align: top;
}
#cart-table {
  box-shadow: 50px 20px 40px #1f4959(0, 0, 0, 0.1);
  border-radius: 25rem;
}

#cart-table th {
  background-color: #1f4959;
  color: black;
  font-weight: bold;
}

#cart-table td {
  border-bottom: 1px solid black;
}

#cart-table td:last-child {
  border-bottom: none;
}
@media (max-width: 768px) {
  #cart-table {
    font-size: 17px;
  }
  #cart-table th, #cart-table td {
    padding: 6px;
  }
}
#cart-table th.product {
  width: 70%;
}

#cart-table th.price {
  width: 50%;
}

#cart-table th.quantity {
  width: 20%;
}

#cart-table th.subtotal {
  width: 20%;
}

#cart-table td.product {
  font-weight: bold;
  color: black; 
}

#cart-table td.price {
  font-size: 18px;
  font-weight: bold;
  color: black; 
}

#cart-table td.quantity {
  text-align: center;
}

#cart-table td.subtotal {
  font-size: 18px;
  font-weight: bold;
  color: black; 
}
.checkout-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #1f4959;
  opacity: 0.8;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  color: white;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 2000;
}

.sidebar a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar.open {
  width: 550px;
}

#cart-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#cart-icon svg {
  vertical-align: middle;
}



